.userModal{
  border:1px solid black;
  border-radius: 3%;
  background-color: rgba(53, 45, 45, 0.719) ;
  width: 400px;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-top: 100px; 
}
.userModal:hover{
  background-color: #333 
}
.modal-placement{
  justify-content: center;
}
.sub-titles{
  color: red;
}